<h1>Chatroom Page</h1>
<html>

<body>
	
<table border="1" bgcolor="pink" width="400" height="400" align="center">
	<tr>
		<td>
			<nav><a href="../welcome/homepage">Home</a></nav>
		</td>
		<td rowspan="3" width="300">
		</td>
	</tr>
	<tr>
		<td>
			<nav><a href="../welcome/loginpage">Login</a></nav>
		</td>
	</tr>
	<tr>
		<td>
			<nav><a href="../welcome/random">Random</a></nav>
		</td>
	</tr>

	<tr>
		<td>
			<nav><a href="../welcome/chatroom">Chatroom</a></nav>
		</td>
		<td rowspan="5" width="300">
		</td>
	</tr>
	<tr>
		<td>
		</td>
	</tr>
	<tr>
		<td>
		</td>
	</tr>
	<tr>
		<td>
		</td>
	</tr>
	<tr>
		<td>
		</td>
	</tr>
</table>
</body>
</html>
